@model List<Service>


<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Size Sunduğumuz Hizmetlerimiz </h2>
                <p>Modern mimari tutukusuyla oluşturduğumuz mobilyalarımızı sizlere sunarken çeşitlerimizden faydalanabilirsiniz.  </p>

                <div class="row my-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="@item.Icon" alt="Image" class="imf-fluid">
                                </div>
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-5">
                @foreach (var item in Model)
                {
                    <div class="img-wrap">
                        <img src="@item.ImageUrl" alt="" class="img-fluid">
                    </div>
                }
            </div>


        </div>
    </div>
</div>