<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

            <a href="../index.html" class="logo">
                <img src="~/kaiadmin/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Admin/Product/Index" aria-expanded="false">
                        <i class="fas fa-tag"></i>
                        <p>Ürünler</p>

                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Admin/Testimonial/Index" aria-expanded="false">
                        <i class="fas fa-comments"></i>
                        <p>Referanslar</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" aria-expanded="false">
                        <i class="fas fa-comments"></i>
                        <p>Öne Çıkanlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Service/Index" aria-expanded="false">
                        <i class="fas fa-comments"></i>
                        <p>Hizmetlerim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AllAPI/Index" aria-expanded="false">
                        <i class="fas fa-info-circle"></i>
                        <p>API</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>