<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li>
                    <a class="nav-link" href="/Default/Index">Ana Sayfa</a>
                </li>
                <li><a class="nav-link" href="/Products/Index">Ürünlerimiz</a></li>
                <li><a class="nav-link" href="about.html">Hakkımızda</a></li>
                <li><a class="nav-link" href="services.html">Hizmetlerimiz</a></li>
                <li><a class="nav-link" href="/Contact/Index">İletişim</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" target="_blank" href="/Login/Index"><img src="/furni/images/user.svg"></a></li>
                <li><a class="nav-link" href="cart.html"><img src="/furni/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>