@model List<Feature>


<div class="hero">
	<div class="container">
		@foreach (var item in Model)
		{
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>@item.Title</h1>
						<p class="mb-4">@item.Description</p>
						<p><a href="/Products/Index" class="btn btn-secondary me-2">Ürünlerimize Göz Atınız</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap">
						<img src="@item.ImageUrl" class="img-fluid">
					</div>
				</div>
			</div>
		}
	</div>
</div>